<div class="chat-container">
    <div class="blank-space"></div>
    <div class="chat-container-inner">
        <div class="chat-text">
            <div class="chat-display"></div>
            <div class="message">
                <p-iconfield>
                    <input type="text" pInputText placeholder="Type new message"/>
                    <p-inputicon class="pi pi-arrow-right"/>
                    <!--                <i class="pi pi-arrow-right"></i>-->
                </p-iconfield>
            </div>

        </div>

    </div>
</div>
